.tp-portfolio {

  .tp-portfolio-it-wrap {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    transition: 0.4s ease-in-out;
  }

  .tp-portfolio-it-wrap img {
    width: 100%;
    border-radius: 20px;
    transition: 0.6s ease;
  }

  .tp-portfolio-it-wrap::after {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: .4s;
    border-radius: 20px;
    background: linear-gradient(
      180deg,
      rgba(0,0,0,0.1) 0%,
      rgba(0,0,0,0.5) 100%
    );
  }

  .tp-portfolio-title {
    transform: translateY(60px);
    transition: .4s ease-in-out;
  }

  .tp-portfolio-it-wrap:hover img {
    transform: scale(1.1) rotate(-2deg);
  }

  .tp-portfolio-it-wrap:hover::after {
    opacity: 1;
  }

  .tp-portfolio-it-wrap:hover .tp-portfolio-title {
    transform: translateY(0);
  }

}
